.flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: #ffe600;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: hidden;
  z-index: 10000;
}

.flyoutMenu li {
  margin-bottom: 10px;
}

.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.hide {
  transform: translate3d(-100vw, 0, 0);
}
