.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.footerNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.butt {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 60px;
  color: white;
  padding: 5px 15px;
  border: none;
  background: none;
  opacity: 0.8;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

.butt:focus {
  opacity: 1;
  border: none;
}

.butt:hover {
  opacity: 1;
}

.butt svg {
  height: 24px;
  width: 24px;
}

.plaqueText {
  display: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.92);
  color: rgba(0, 0, 0, 1);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 14px;
  margin-bottom: -10px;
}

.plaqueText aside {
  font-size: 11px;
}

.navText {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding: 3px 5px;
}

@media (max-width: 700px) {
  .plaqueText {
    display: block;
  }
}
