/* @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&family=Lato:wght@100&family=Londrina+Sketch&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap");

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: calc(12px + 1vmin);
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.5px;
  line-height: 1.6em;
}

button {
  font-size: calc(12px + 0.5vmin);
}
